<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data Stored</title>
</head>
<body>
<h2>User Registered Successfully</h2>
<p>Name: <%= newUser.user %></p>
<p>Email: <%= newUser.email %> </p>
<p>Gender: <%=newUser.Gender %></p>
<a href="/users">View All Users</a>
  <a href="/">Register Another User</a>
</body>
</html>